<div id="profile">
    <img src="/assets/images/pfp.jpg" width="128px" />
    <div id="profileInfo">
      <h1>About Me ({{ site.username }})</h1>
      <p>Currently studying: Bachelor of Information Technology</p>
      <p>Major: Computer Science</p>
      <p>Minors: Intelligent Systems, Computational and Simulation Science</p>
    </div>
    <img
      id="profileCloseButton"
      src="assets/images/close.png"
      width="32px"
      onclick="document.getElementById('profile').style.display = 'none'"
    />
</div>