---
layout: default
title: About Me
permalink: /about/
---

<p>
    For serious/business-related inquiries: please email me at
    <a target="_blank" href="mailto:{{ site.email }}">{{ site.email }}</a>.
</p>

<div id="profile">
    <img
        src="/assets/images/graphic-design/profile-pictures/brainage04.jpg"
        width="128px"
        height="128px"
    />
    <div>
        <h1>Thomas (brainage04)</h1>
        <p>Degree: Bachelor of Information Technology</p>
        <p>Major: Computer Science</p>
        <p>Minors:</p>
        <ul>
            <li>Intelligent Systems</li>
            <li>Computational and Simulation Science</li>
        </ul>
    </div>
</div>

<h1>Socials</h1>
<div id="socials">
    {% for social in site.data.socials %}
        <a
            href="{{ social.link }}"
            title="{{ social.name }}"
            target="_blank"
            rel="noreferrer"
        >
        <img
            src="/assets/images/socials/{{ social.file }}"
            alt="{{ social.name }}"
            title="{{ social.name }}"
            width="64px"
        />
        </a>
    {% endfor %}
</div>

<h1>Webring</h1>
<div id="webring">
    {% for item in site.data.webring %}
        <a
            href="{{ item.link }}"
            title="{{ item.name }}"
            class="webring-image"
            target="_blank"
            rel="noreferrer"
        >
        <img
            src="/assets/images/webring/{{ item.file }}"
            alt="{{ item.name }}"
            title="{{ item.name }}"
            width="88px"
            height="31px"
        />
        </a>
    {% endfor %}
</div>
