---
layout: default
title: Graphic Design
permalink: /graphic-design/
---

{% for category in site.data.graphic-design %}
    <h2>{{ category.title }}</h2>
    <div id="cardContainer">
        {% for item in category.items %}
            <a
                {% if item.link %}
                href="{{ item.link }}"
                {% endif %}
                title="{{ item.title }}"
                target="_blank"
                rel="noreferrer"
            >
            <img
                src="/assets/images/graphic-design/{{ category.directory }}/{{ item.file }}.jpg"
                alt="{{ item.title }}"
                title="{{ item.title }}"
                {{ category.item-style }}
            />
            </a>
        {% endfor %}
    </div>
{% endfor %}

<hr />
<hr />
