---
layout: default
title: Video Editing
permalink: /video-editing/
---

{% for category in site.data.video-editing %}
    <h2>{{ category.title }}</h2>
    <p>{{ category.description }}</p>
    <div id="cardContainer">
        {% for item in category.items %}
            <h3>{{ item.title }}</h3>
            <p>{{ item.description }}</p>
            <iframe width="1040" height="585" src="https://www.youtube.com/embed/{{ item.video-id }}" title="How To Make AMAZING osu! Thumbnails" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        {% endfor %}
    </div>
{% endfor %}

<hr />
<hr />
