---
import PageHeader from '../components/PageHeader.astro';
import TerminalPanel from '../components/TerminalPanel.astro';
import SiteLayout from '../layouts/SiteLayout.astro';
---

<SiteLayout title="404" description="Page not found.">
  <div class="site-stack">
    <PageHeader title="404" description="That path does not exist." />
    <TerminalPanel title="Try these">
      <ul marker-="tree">
        <li><a href="/">Home</a></li>
        <li><a href="/projects/">Projects</a></li>
        <li><a href="/blog/">Blog</a></li>
      </ul>
    </TerminalPanel>
  </div>
</SiteLayout>
