---
export interface Props {
  title?: string;
  class?: string;
}

const { title, class: className } = Astro.props;
---

<section class:list={['terminal-panel', className]} box-="square">
  {title && (
    <div class="panel-header">
      <strong>{title}</strong>
    </div>
  )}
  <slot />
</section>
